*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    margin-top: 100px;
    width: 600px;
    height: auto;
    border-radius: 5px;
}

.PHTW{
    font-family: "Arial Black";
    color: white;
}

.PHTO{
    color: #1b1b1b;
    background-color: #ffa31a; 
    padding: 1%;
}

.containers-content{
    position: inline-block;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border-radius: 5px;
    padding: 2em 4em;
}

.title{
    display: inline-block;
    width: 100%;
}


/* CONTROL LOOPS */
.ASTERISK{
    font-size: 3rem;
    color: white;
}